
<div class="header-section" *ngIf="loggedIn">

<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

<nav role="navigation" class="primary-navigation">
  <ul>
    <li><a routerLink="/dashboard">Home</a></li>
    <li><a routerLink="/history">History </a>
      
    </li>
    <li><a href="#">About</a></li>
    <li><a  (click)="logout()">Logout</a></li>
  </ul>
</nav>
  <div class="right-section">
        <div ><span class="pi pi-power-off icon-class" (click)="logout()"></span></div>
  </div>
</div>
