<div class="side-menu" *ngIf="loggedIn">
    <button  class="menu-btn" pButton type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></button>
    <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
        <div class="chat-option" redirectTo="/chatRoom">Chat</div>
        <div class="chat-option" redirectTo="/history">History</div>
    </p-sidebar>
</div>

