
<div class="chats">
    
    <p-table  #dt styleClass="ui-table-customers" [value]="chatResponse?.data" [scrollable]="true" scrollHeight="200px"  [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" 
    [globalFilterFields]="['user','resolvedQuery','message','text']">
        <ng-template pTemplate="caption">
                    User Query Response
            <div class="ui-table-globalfilter-container">
                Date: <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" ></p-calendar>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>                
            </tr>
            <!-- <tr>
                <th *ngFor="let col of cols" [ngSwitch]="col.field">
                    <input  pInputText type="text" (input)="tt.filter($event.target.value, 'contains')">
                    <!-- <div *ngSwitchCase="'year'">
                        {{yearFilter}}
                        <i class="pi pi-times" (click)="yearFilter=null;tt.filter(null, col.field, col.filterMatchMode)"></i>
                        <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="1970" [max]="2010" (onChange)="onYearChange($event, dt)"></p-slider>
                    </div>
                    <p-dropdown *ngSwitchCase="'brand'" [options]="brands" [style]="{'width':'100%'}" (onChange)="tt.filter($event.value, col.field, 'equals')"></p-dropdown>
                    <p-multiSelect *ngSwitchCase="'color'" [options]="colors" defaultLabel="All Colors" (onChange)="tt.filter($event.value, col.field, 'in')"></p-multiSelect>-->
                <!-- </th> 
            </tr> --> 
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td *ngFor="let col of cols">
                        {{data[col.field]}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length">
                        No records found
                    </td>
                </tr>
            </ng-template>
    </p-table>
</div>

